.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  width: 300px;
  height: 300px;
}

.pos {
  display: flex; /* center text */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
  border: 5px solid;
}

#reset {
  padding: 10px;
  margin: 20px 0px;
}
